.match-list {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    font-size: 16px;
    overflow-x: auto;
    max-height: 90vh;
}

.match-item {
    cursor: default;
    min-height: 30px;
    display: flex;
    align-items: center;
    padding: 4px;
}

.match-participants {
    transition: all 0.2s ease-in-out;
}

.match-item:hover .match-participants {
    font-size: 18px;
}

.match-item:nth-child(odd) {
    background-color: lightblue;
}

.match-item:hover {
    background-color: black;
    color: white;
}

.match-date {
    min-width: 120px;
    display: inline-block;
}