@import './matches.css';

html {
    scrollbar-gutter: stable both-edges;
}

body {
    margin: 0;
}

.main {
    width: 100%;
    max-width: 1080px;
    scrollbar-gutter: stable both-edges;
    margin: 0 auto;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
}

.table {
    --table-background-color: lightgray;
    --table-alternate-row-color: white;
    background-color: var(--table-background-color);
    width: 100%;
    border-collapse: collapse;
}

.table-head th, 
.table-head td {
    padding: 4px 1vw;
    font-size: clamp(16px, 2.6vw, 24px);
}

.table-head-first-row .team-name {
    text-align: left;
}
.table-head-first-row .matches,
.table-head-first-row .goals { 
    position: relative;
}

.table-head-first-row .matches:after,
.table-head-first-row .goals::after {
    content: "";
    display: block;
    background-color: darkgray;
    position: absolute;
    bottom: 0;
    left: 14px;
    right: 14px;
    height: 2px;
    
}

.table-head-second-row .small-only {
    display: block;
    text-align: center;
}

/* Participant Table Rows*/
.participant-row:nth-child(odd) {
    background-color: var(--table-alternate-row-color);
}

.participant-row th,
.participant-row td {
    padding: clamp(4px, 1vw, 8px);
}

.participant-row th {
    text-align: left;
}

.participant-row td {
    text-align: center;
}

.table-body .participant-row:hover {
    background-color: black;
    color: white;
    transition: all 0.2s ease-in-out;
}
.participant-row_open-link {
    color: black;
    font-weight: 300;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
}

.participant_logo_wrapper {
    width: 100px;
    display: flex;
    justify-content: center;
}

.participant_logo {
    width: 100px;
    max-height: 40px;
    width: auto;
    margin-right: 20px;
}

.participant-row:hover .participant-row_open-link {
    color: white;
}

/* Tilpasning for små skjermer */
@media screen and (max-width: 500px) {
    /* remove table head */
    .table-head {
        display: none;
    }

    /* COLLAPSE FOR SMALL SCREENS */
    .participant-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding: 12px 4px;
    }
    .participant-row th {
        display: flex;
        flex: 1 0 100%;
    }
    .participant-row td {
        display: flex;
        flex: 1 1 40%;
    }

    .participant-row td::before {
        content: attr(data-label);
        display: block;
        min-width: 140px;
        min-height: 20px;
        text-align: left;
    }
}


/* Desktop-tilpasninger*/
.large-only {
    display: none;
}

@media screen and (min-width: 1080px) {
    .table .table-head-second-row span.small-only {
        display: none;
    }

    span.large-only {
        display: initial;
    }
}

/* MODAL */
.modal {
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    inset: 0;
    display: none;
}

.modal--open {
    display: block;
}

.modal .close-icon {
    font-style: normal;
    position: absolute;
    top: 4px;
    right: 6vw;
    font-size: 50px;
    color: white;
    cursor: pointer;
    background-color: black;
    border-radius: 50%;
    padding: 0 6px 20px 12px;
    width: 30px;
    height: 30px;
    border: 2px solid white;
    cursor: pointer;
}

.modal-inner {
    background-color: white;
    max-width: 80vw;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 12px;
}